<li>
  <% if message.is_user %>
    <%= '客户说：' %>
  <% else if not message.is_user%>
    <%= '算命师说：' %>
  <% end %>
  <% end %>
  <span class="content"><%= message.content %></span>
  </p>
  <div class = "inline">
  <div>
  <span class="timestamp">
    <%= (message.created_at) %>
  </span>
  <% if message.is_user %>
      <%= button_to "删除", message_path(message, order_id: message.order_id), method: :delete,
                  data: { confirm: "确定删除这条留言吗？" },
                  title: message.content %>

  <% end %>
  </div>
  </div>
</li>