<h1>留言列表</h1>

<table>
  <thead>
    <tr>
      <th>内容</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.content %></td>
        <td><%= link_to '展示', message %></td>
        <td><%= link_to '编辑', edit_message_path(message) %></td>
        <td><%= link_to '删除', message, method: :delete, data: { confirm: '确定删除留言' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新留言', new_message_path %>
