<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%= link_to "New Personal Order", new_order_path(:product => 'Personal'), class: "btn btn-large btn-primary" %>
    <%= link_to "New Company Order", new_order_path(:product => 'Company'), class: "btn btn-large btn-primary" %>
    <%=link_to "Message", message_path, class: "btn btn-large btn-primary" %>
    <% if @user.orders.any? %>
        <h3>Orders (<%= @user.orders.count %>)</h3>
        <ol class="orders">
          <%= render @orders %>
        </ol>
        <%= will_paginate @orders %>
    <% end %>
  </div>
</div>