<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span10">
    <% if not @user.admin%>
        <%= link_to "新的个人取名服务", new_order_path(:product => '个人取名'), class: "btn btn-large btn-primary" %>
        <%= link_to "新的公司取名服务", new_order_path(:product => '公司取名'), class: "btn btn-large btn-primary" %>
        <%= link_to "新的八字断命服务", new_order_path(:product => '八字断命'), class: "btn btn-large btn-primary" %>
    <% end %>

    <% if @user.orders.any? or (@user.admin and Order.any?) %>
        <% if not @user.admin %>
            <h3>全部订单 (<%= @user.orders.count %>)</h3>
        <% else %>
            <h3>全部订单 (<%= Order.count %>)</h3>
        <% end %>
        <ol class="orders">
          <%= render @orders %>
        </ol>
        <%= will_paginate @orders %>
    <% end %>
  </div>
</div>