<li>
    <div>
    <% if @user.admin %>
        <div class="span2">
          用户名 <%= order.user.name %>
        </div>
    <% end %>
    <div class="span2">
      订单编号 <%= link_to order.id, order %>
    </div>
    <div class="span1">
      <%= order.product.name %>
    </div>
    <div class="span1">
      <%= order.price %>
    </div>

  </div>
  <span class="timestamp">
    <%= order.created_at %>
  </span>

    <% if order.num_answers == 1 %>
      <div class="span1">
        已反馈
      </div>
    <% end %>
</li>