<li>
    <div>
    <% if @user.admin %>
        <div class="span2">
          用户名 <%= order.user.name %>
        </div>
    <% end %>
    <div class="span2">
      订单编号 <%= link_to order.id, order %>
    </div>
    <div class="span1">
      <%= order.product.name %>
    </div>
    <div class="span1">
      <%= order.price %>
    </div>

  </div>
  <span class="timestamp">
    <%= order.created_at %>
  </span>

    <% if order.answer %>
      <div class="span1">
        已反馈
      </div>
    <% end %>
    <% if (order.new_admin_message and not @user.admin) or (order.new_user_message and @user.admin)%>
      <div class="span1">
        新留言！
      </div>
    <% end %>


</li>