<h3><%= @order.product.name %> <%= @order.user.name %> <%= @order.price %> </h3>
<% if @order.product_attribute_values.any? %>
    <div id="product_attributes">
      <ul>
        <% @order.product_attribute_values.each do |v| %>
            <li><%= v.product_attribute.name %>： <%= v.send(v.value_type) %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% if @order.answer.valid? %>

    <h3> 反馈信息 </h3>
    <% if @order_type == '个人取名' or @order_type == '公司取名' %>

        <div>
          算命师所取的名字
        </div>
        <div>
          <%= @answer.chosen_name %>
        </div>
        <div>
          算命师的详细解释
        </div>
        <div>
          <%= @answer.content %>
        </div>
    <% else %>
        <div>
          算命师为您的八字所作的分析
        </div>
        <div>
          <%= @answer.content %>
        </div>
    <% end %>
<% elsif not current_user.admin and not @order.is_message_box_closed %>
    <!-- 管理员尚未给出反馈，可以更新订单 -->
    <%= link_to "更新订单信息", :controller => 'orders', :action => 'edit', :id => @order.id %>
<% end %>

<!-- 这一部分是管理员给取的名字以及解释 -->
<% if current_user.admin %>
    <div id="reply">

      <div class="depot-form">
        <%= form_tag url_for(:controller => 'orders', :action => 'update_price'), method: 'put' do%>
            <%= label_tag '新的定价' %><%= text_field_tag '新的定价' %>
            <!-- hidden_field_tag :order_id, :value => @order.id -->
            <%= submit_tag "更新定价", :class => "btn  btn-primary" %>
        <% end %>
      </div>

      <% if @order_type == '个人取名' or @order_type == '公司取名' %>
          <h3>为客户取名</h3>
      <% else %>
          <h3>为客户算命</h3>
      <% end %>

      <% if not @order.answer.content %>
          <div class="depot-form">
            <%= form_for @answer do |f| %>
                <%= render 'reply_create_or_update', f: f %>
            <% end %>
          </div>
      <% else %>
          <div class="depot-form">
            <%= form_for(@answer, url: answer_path(@order.answer)) do |f| %>
                <%= render 'reply_create_or_update', f: f %>
            <% end %>
          </div>
      <% end %>
    </div>

    <!-- for test!! -->
    <!-- render :partial => 'reply_create_or_update' -->
<% end %>



<% if current_user.admin %>
    <% if @order.is_message_box_closed %>
        <h4>留言功能已关闭</h4>
        <div class="depot-form">
          <%= form_tag url_for(:controller => 'orders', :action => 'update_box_status'), method: 'put' do%>
              <%= submit_tag "开启留言", :class => "btn  btn-primary" %>
          <% end %>
        </div>
    <% else %>
        <h3>新留言</h3>
        <div class="depot-form">
          <%= form_for @message do |f| %>
              <%= f.text_area :content %>
              <%= f.hidden_field :order_id, :value => @order.id %>
              <%= f.submit "留言", :class => "btn  btn-primary" %>
          <% end %>
        </div>
        <div class="depot-form">
          <%= form_tag url_for(:controller => 'orders', :action => 'update_box_status'), method: 'put' do%>
              <%= submit_tag "关闭此订单", :class => "btn  btn-primary" %>
          <% end %>
        </div>
    <% end %>
<% else %>
    <% if @order.is_message_box_closed %>
        <h4>留言功能已关闭</h4>
    <% else %>
        <h3>新留言</h3>
        <div class="depot-form">
          <%= form_for @message do |f| %>
              <%= f.text_area :content %>
              <%= f.hidden_field :order_id, :value => @order.id %>
              <%= f.submit "留言", :class => "btn  btn-primary" %>
          <% end %>
        </div>
        <div class="depot-form">
          <%= form_tag url_for(:controller => 'orders', :action => 'update_box_status'), method: 'put' do%>
              <%= submit_tag "关闭此订单", :class => "btn  btn-primary" %>
          <% end %>
        </div>
    <% end %>
<% end %>


<% if @order.messages.any? %>
    <h3>所有留言(<%= @order.messages.count %>)</h3>
    <ol class="messages">
      <%= render @messages %>
    </ol>
    <%= will_paginate @messages %>
<% end %>





