
<body id="orders">
<div id="columns">
  <div id="side">
    <h3><%= @order.product.name%>, <%= @order.user.name %>, <%= @order.price %> </h3>
    <% if @order.product_attribute_values.any? %>
        <div id="product_attributes">
          <ul>
            <% @order.product_attribute_values.each do |v| %>
                <li><%= v.product_attribute.name %>, <%= v.value %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>
  <div id="main">
    <h3>新留言</h3>
      <div class="depot-form">
      <%= form_for @message do |f| %>
          <div>
          <%= f.text_area :content, :id => 'message_content'%>
          </div>
          <%= f.hidden_field :order_id, :value => @order.id%>
          <%= f.hidden_field :is_user, :value => true %>
          <%=submit_tag "留言", :class=> "btn  btn-primary"%>
          <!-- f.submit "留言", class: "btn btn-large btn-primary" -->
      <% end %>
      </div>
  </div>

  <div class="row">
    <div class="span12">
      <% if @order.messages.any? %>
          <h3>所有留言(<%= @order.messages.count %>)</h3>
          <ol class="messages">
            <%= render @messages %>
          </ol>
          <%= will_paginate @messages %>
      <% end %>
    </div>
  </div>
</div>
</div>
</body>





